@tailwind base;
@tailwind components;
@tailwind utilities;

.button{
    @apply inline-block px-4 py-3 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md 
    hover:bg-blue-700 hover:shadow-lg 
    focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 
    active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out;
    &:disabled{
     @apply  bg-gray-500
    }
}

.inputs{
    @apply border border-gray-300 text-gray-900 text-sm rounded-full focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 px-4;
    &:disabled{
        @apply  bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed
    }
}